body {
  background: rgba(241, 238, 238, 0.753)
}

.container {
  max-width: 1024px;
}


.top-navbar a {
  color: rgb(224, 219, 219);
  text-decoration: none;
}
 
.top-navbar a:hover {
  color: white
}
.top-navbar {
  background: black;
  padding: 6px 0;
}
.top-navbar a.active {
  color: rgb(255, 230, 0)
}

.top-navbar .left,
.top-navbar .right {
  margin: 0
}

.top-navbar .left a {
  float: left;
  padding-left: 0;
  padding-right: 25px
}

.top-navbar .right a {
  float: right;
  padding-right: 0;
  padding-left: 20px
}
.main-navbar,
.classify-list .container,
.classify-main .container {
  background: white;
}
.main-navbar {
  padding-top: 9px;
  padding-bottom: 18px;
}

.navbar-brand,
 .navbar-brand .left,
 .navbar-brand .right{
  padding: 0;
  margin: 0
}
.navbar-logo {
  border: 1px solid rgba(241, 238, 238, 0.753);
  margin-top: 5px;
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
}
.navbar-logo img{
   width: 65px;
  height: 50px;
  transition: all 0.5s;
  cursor: pointer;
}

.navbar-brand img:hover {
  transform: scale(1.5)
}

.main-navbar .logo{
  font-weight: 600;
  font-size: 150%;
  padding-top: 12px;
  padding-left: 5px;
}
.main-navbar .info {
  font-size: 80% ;
  padding-top: 5px;
  padding-left: 5px;
  font-weight: 500;
  color: rgb(128, 125, 124)
}

.navbar-left {
  padding-top: 10px
}
.navbar-left a {
  display: inline-block;
  font-size: 115%;
  padding-top: 10px;
  padding-right: 30px;
  color: rgb(88, 86, 86);
  text-decoration: none
}

.navbar-left a:hover {
  color: rgb(255, 136, 0)
}
.search-bar {
  margin-top: 12px;
}

.classify-list {
  margin-top: 40px;
  margin-bottom: 10px;
}
.classify{
  padding-top: 25px;
  padding-bottom: 25px;
}

.classify-main .item {
  padding: 20px 15px;
  margin: 5px 0;
}

.classify-list .item{
  padding-right: 15px;
  display: inline-block
}
.classify-list a {
  color: rgb(146, 143, 143);
  text-decoration: none
}

.classify-list .active {
  color: rgb(250, 183, 59)
}

.classify-list a:hover {
  color: rgb(250, 183, 59);
}


.classify-main .item:hover {
  background:rgba(241, 238, 238, 0.753) ;
  
}
.classify-main .pct {
  border: 1px solid rgb(201, 199, 199);
  margin: 10px auto;
  overflow: hidden;
  border-radius: 5px;
  width: 220px;
}

.classify-main .pct img {
  width: 220px;
  height: 160px;
  transition: all 0.5s;
  cursor: pointer;
}

.classify-main .pct img:hover {
  transform: scale(1.5)
}
.classify-main .dsc {
  padding-top: 10px
}
.classify-main .brand{
  font-size: 120%;
  font-weight: 600
}
.classify-main  span{
  font-size: 80%;
  padding-right: 10px;
  color: rgb(105, 105, 105)
}
.classify-main .star{
  font-size: 110%
}